<div class="nav" role="navigation">
    <ul>
        <li><a ui-sref="index" class="home">Home</a></li>
        <li><a ui-sref="${propertyName}.list" class="list">${className} List</a></li>
    </ul>
</div>
<div id="create-${propertyName}" class="content scaffold-create" role="main">
    <h1>Create ${className}</h1>
    <ul class="errors" role="alert" ng-if="${controllerName ? controllerName + '.' : ''}errors">
        <li ng-repeat="error in ${controllerName ? controllerName + '.' : ''}errors">{{error.message}}</li>
    </ul>

    <form name="save${className}" ng-submit="${controllerName ? controllerName + '.' : ''}save${className}()">
        <fieldset class="form">
            <ng-include src="'/${modulePath}/form.html'"></ng-include>
        </fieldset>
        <fieldset class="buttons">
            <input type="submit" name="create" class="save" value="Create" />
        </fieldset>
    </form>
</div>